:root {
    --bg-button: #f0f0f0;
    --dark-bg-button: #ccc;
    --border-button: #888;
    --display-bg: rgba(0, 0, 0, 0.7);
    --operator-bg: #fa8231;
    --active-operator-bg: #fa8231;
    --color-white: #fff;
    --shadow-color: 5, 5, 5;
}